.coinContainer {
  margin: 50px auto;
  border: 1px solid silver;
  border-radius: 10px;
  width: fit-content;
  background-color: #f6f6f6;
}
.container {

  display: flex;
  justify-content: center;
}
.input {
  width: 300px;
  margin-top: 50px;
  border: 1px solid silver;
  border-radius: 5px;
  height: 20px;
  padding: 8px;
  padding-left: 10px;
  background-color: #f6f6f6;
  transition: all 0.2s ease;
}

.input:focus {
  outline: none;
  border-color: #a1a1aa;
  background: white;
  box-shadow: rgba(74, 74, 74, 0.24) 0px 3px 8px;
}

@media (max-width: 700px) {
  
}

